<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <style>
        .form-sell {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-image: url("../../images/car-1.png");
            background-size: cover;
        }

        .form {
            margin-top: 34px;
            margin-bottom: 100px;
            background-color: rgba(255, 246, 246, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        #h2 {
            text-align: center;
        }

        .form-Sell-gruop {
            margin-bottom: 15px;
        }

        .sell-lable {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"] {
            width: 96%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #des {
            display: block;
        }

        #button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #button:hover {
            background-color: #0056b3;
        }

        @media screen and (max-width: 600px) {
            .form {
                width: 84%;
            }

            .form-sell {
                height: 73%;
            }
        }
    </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <div class=" form-sell" data-aos="slide-down">
                <% if(errorMessage) {%>
                    <div class="user-message user-message--error">
                        <%= errorMessage%>
                    </div>
                    <%}%>
                        <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                            method="POST" enctype="multipart/form-data" class="form">
                            <h2 class="h2" id="h2">Sell Your Car</h2>
                            <div class="form-group form-Sell-gruop">
                                <label for="car-make sell-lable">Car Name:</label>
                                <input type="text" name="title" id="title"
                                    value="<% if (editing || hasError) { %><%= product.title %><% } %>" required
                                    class="sell-input">
                            </div>
                            <div class="form-group form-Sell-gruop">
                                <label for="car-model sell-lable">Car Image:</label>
                                <input type="file" name="image" id="image" id="car-model" required sell-input>
                            </div>
                            <div class="form-group form-Sell-gruop">
                                <label for="car-year sell-lable">Year:</label>
                                <input type="number" id="car-year" name="car-year" min="1900" max="2099" step="1"
                                    required sell-input>
                            </div>
                            <div class="form-group form-Sell-gruop">
                                <label for="car-price sell-lable">Asking Price ($):</label>
                                <input type="number" name="price" id="price" step="0.01"
                                    value="<% if (editing || hasError) { %><%= product.price %><% } %>" id="car-price"
                                    min="0" step="1" required sell-input>
                            </div>
                            <div class="form-group form-Sell-gruop ">
                                <label for="contact-info sell-lable " id="des">Description</label>
                                <textarea name="description" id="description" cols="30"
                                    rows="4"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                            </div>
                            <% if (editing) { %>
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <% } %>

                                    <button class="btn title done" type="submit" id="button">
                                        <% if (editing) { %>Update Car<% } else { %>Add Car<% } %>
                                    </button>
                        </form>
            </div>

            <%- include('../includes/end.ejs') %>
                <%- include('../includes/footer.ejs') %>