<!-- <div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                       
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <% if (isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        <% } %>
        <% if (!isAuthenticated) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav> -->

<div class="topArea">
  <div class="Navbar">
    <div class="cente">
      <div class="car-logo">
        <img src="/images/car-logo.png" alt="">
      </div>
    </div>

    <div class="new-use">
      <div class="new-car">
        <a href="/products">NEW CARS</a>
      </div>
      <div class="new-car">
        <a href="/products">USED CARS</a>
      </div>
      <div class="new-car">
        <a href="/products">REVIEWS </a>
      </div>
    </div>
    <div class="flex input222 ">
      <input type="text">
      <i class="fas fa-search"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
          viewBox="0 0 50 50">
          <path
            d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z">
          </path>
        </svg></i>
    </div>
    <div class="icons">
      <div class="location same-icons"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29"
          fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
          <path
            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg></div>
      <div class="user same-icons"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor"
          class="bi bi-person-bounding-box" viewBox="0 0 16 16">
          <path
            d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5" />
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
        </svg></div>
      <div class="language same-icons"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29"
          fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
          <path
            d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z" />
          <path
            d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31" />
        </svg></div>
    </div>
  </div>
</div>

<header class="text-gray-600 body-font">
  <div class="toggle-btn" onclick="myfunct();">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <!-- <a
      class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
      <img src="/images/car x.jpg" alt="LOGO" class="image-logo" />
    </a> -->
    <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto" id="nav">

      <a class="mr-5 hover:text-gray-900 <%= path === '/' ? 'active' : '' %>" href="/">
        <span class="material-symbols-outlined" id="classnaav">
          home_app_logo
        </span>
        Home
      </a>
      <hr />
      <a class="mr-5 hover:text-gray-900 <%= path === '/about' ? 'active' : '' %>" href="/about">
        <span class="material-symbols-outlined" id="classnaav">
          attribution
        </span>
        About us
      </a>
      <hr />


      <a class="mr-5 hover:text-gray-900 <%= path === '/' ? 'active' : '' %>" href="/products"><span
          class="material-symbols-outlined icon classnaav" id="classnaav">
          no_crash </span>Cars</a>
      <hr />
      <% if (isAuthenticated) { %>
        <a class="mr-5 hover:text-gray-900 <%= path === '/admin/add-product' ? 'active' : '' %>"
          href="/admin/add-product"><span class="material-symbols-outlined icon classnaav" id="classnaav">
            sell </span>Sell Car</a>
        <hr />
        <a class="mr-5 hover:text-gray-900 <%= path === '/admin/products' ? 'active' : '' %>"
          href="/admin/products"><span class="material-symbols-outlined icon" id="classnaav">
            local_shipping
          </span>
          Your Cars</a>

        <hr />
        <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0" id="lo">

          <a class="mr-5 hover:text-gray-900 svg-header <%= path === '/cart' ? 'active' : '' %>" href="/cart"><span
              class="material-symbols-outlined"> shopping_cart </span></a>
          <a class="mr-5 hover:text-gray-900 svg-header <%= path === '/orders' ? 'active' : '' %>" href="/orders"><span
              class="material-symbols-outlined"> orders </span></a>
          <% } %>
            <% if (!isAuthenticated) { %>
              <button class="login-button">
                <a class="log <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
              </button>

              <button class="login-button">
                <a class="log <%= path === '/signup' ? 'active' : '' %>" href="/signup">signup</a>
              </button>
              <% } else { %>
                <form action="/logout" method="post">
                  <button class="login-button boto">
                    <a class="log">Logout</a>
                  </button>
                </form>
                <% } %>
        </div>
    </nav>
  </div>
</header>
<script>
  function myfunct() {
    var navbar = document.getElementById("nav");
    navbar.classList.toggle("show");
  }
</script>