<section class="pagination">
  <% if (currentPage !== 1 && previousPage !== 1) { %>
    <a href="?page=1" class="number">1</a>
  <% } %> <% if (hasPreviousPage) { %>
    <a href="?page=<%= previousPage %>" class="number"><%= previousPage %></a>
  <% } %>
    <a href="?page=<%= currentPage %>" class="active number"><%= currentPage %></a>
  <% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %>" class="number"><%= nextPage %></a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
    <a href="?page=<%= lastPage %>" class="number"><%= lastPage %></a>
  <% } %>
</section>
