<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs') %>
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap about-c">
          <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
            src="/<%= product.imageUrl %>" />
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 a-p">
            <h2 class="text-sm title-font text-gray-500 tracking-widest ">
              BRAND NAME
            </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
              <%= product.title %>
            </h1>
            <div class="flex mb-4">
              <span class="flex items-center">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                  </path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                  </path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                  </path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                  </path>
                </svg>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
                  <path
                    d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z">
                  </path>
                </svg>
                <span class="text-gray-600 ml-3">4 Reviews</span>
              </span>
              <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200 space-x-2s">
                <a class="text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <path
                      d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                    </path>
                  </svg>
                </a>
                <a class="text-gray-500">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <path
                      d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                    </path>
                  </svg>
                </a>
              </span>
            </div>
            <hr />
            <p class="leading-relaxed">
              <%= product.description %>
            </p>
            <div class="flex">
              <div class="flex" style="padding-top: 5%">
                <span class="title-font font-medium text-2xl text-gray-900">Rs <%= product.price %>Cr</span>
              </div>
              <% if (isAuthenticated) { %> <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                  <% } %>
            </div>
            <hr>
            <a id="link" class="es-acko-link js-es-tracking-insurance" target="_blank"
              href="https://www.acko.com/lp/brand-new-car?utm_source=Carwale&amp;utm_medium=Website&amp;utm_campaign=Carwale_Fronx_NewCar">
              <span class="es-ad-span">Ad</span><span id="es-acko-text">Save upto ₹12500* on insurance</span>
              <span class="es-with-span">with
                <img class="es-acko-logo" src="https://imgd.aeplcdn.com/0x0/media/cw/s98qnva_1608941.jpg"
                  alt="Acko Logo">
                <img class="es-redirect-img" src="https://imgd.aeplcdn.com/0x0/media/bw/6rvonva_1608869.png"
                  alt="Redirect Icon">
              </span>
            </a>
            <div data-campaignid="26755_30385" class="o-fnsUKv">
              <div><button
                  class="o-fcaNGp o-dsiSgT o-NBTwp o-bVSleT o-cWRslo o-cRLvC o-eqqVmt o-eKWNKE   o-ItVGT o-bIMsfE   o-bkmzIL o-fdTMrI ORe58e o-cXuWIw o-casNrQ o-cDXfkV o-fznVqX o-fznVsN o-fznVCs"
                  propid="12" iconposition="left" type="button"><span class="o-Hyyko"><a href="/products">Get February
                      Offers</a></span></button></div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section id="firstOne">
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4 m--7">
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/Purosangue/9317/1663156716477/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"> <a href="/products">Ferrari Purosangue</a>
                  </h2>
                  <p class="mt-1">Rs5 Cr Estimated Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>

              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/SF90-Stradale/7858/1591619661237/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Ferrari SF90
                      Stradale</a>Ferrari SF90 Stradale</h2>
                  <p class="mt-1">Rs.7.50 Cr*Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Rolls-Royce/Ghost/8051/1601280317407/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Rolls-Royce Ghost</a>
                  </h2>
                  <p class="mt-1">Rs.6.95 - 7.95 Cr*Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Bentley/Continental/7771/1676965640042/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Bentley Continental</a>
                  </h2>
                  <p class="mt-1">Rs.5.23 - 8.45 Cr*Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Urus/10636/1690010693541/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Lamborghini Urus</a>
                  </h2>
                  <p class="mt-1">Rs.4.18 - 4.22 Cr*Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Land-Rover/Range-Rover/9018/1676541159356/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Land Rover Range
                      Rover</a></h2>
                  <p class="mt-1">Rs.2.39 - 4.17 Cr*Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/XM/10570/1689672872537/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">BMW XM</a></h2>
                  <p class="mt-1">Rs.2.60 Cr Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Land-Cruiser/8448/1623313668941/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Toyota Land Cruiser
                      300</a></h2>
                  <p class="mt-1">Rs.2.10 Cr Get On Road Price</p>
                  <button class="btn-on">Check January Offers</button>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex flex-wrap -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                <div
                  class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">

                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Maruti Suzuki Dzire AMT :<span
                      class="colorChange"> Still
                      Worthy?</span> </h2>
                  <p class="leading-relaxed text-base">he Maruti Dzire ticks almost all the right boxes for it to be
                    your family’s next compact sedan and it’ll do so without emptying your pockets.So in this road
                    test, let’s take a look at some things that are still working for the compact sedan and a few
                    things that are in need of an update now.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center" href="/about">Learn
                    More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
              <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                <div
                  class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">

                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                    Mahindra Thar vs Mahindra XUV300: <span class="colorChange"> What You Think Comparison</span>
                  </h2>
                  <p class="leading-relaxed text-base">The all-new Thar has been thoroughly impressive, both on and
                    off tarmac. However, so far, it has only been compared to its predecessor. We pitch it against
                    its urban sibling to see if it's any good for a family in the city.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center" href="/about">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="flex flex-wrap -m-4" style="    width: 99vw;
  justify-content: space-evenly;
  margin-bottom: 18px;
  margin-left: 0px;">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6"
              src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/653ca720f195c.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Mercedes-Benz EQE 500: First Drive Review
            </h2>
            <p class="leading-relaxed text-base">Mercedes’ EQE blends luxury, tech and instant performance in one
              practical package
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6"
              src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652bb626b93cc.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tata Safari Facelift 2023 Review: Small
              Changes, Big Difference!</h2>
            <p class="leading-relaxed text-base">The Tata Safari is a well-known brand in the SUV market. </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6"
              src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652d165d43936.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Hyundai Exter: Long-term Fleet
              Introduction</h2>
            <p class="leading-relaxed text-base">It has good looks, a city-friendly size, and a comfortable ride.
            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6"
              src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652a2bda01e46.jpg" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
              2023 Tata Harrier Review First Drive Review</h2>
            <p class="leading-relaxed text-base">Tata Harrier is a 5 seater SUV car in a price range of Rs. 15.49
              Lakh to 26.44 Lakh in India.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="middle">
        <img src="https://miro.medium.com/v2/resize:fit:820/1*JJj_0W6rlZEre4hsv2Abjg.jpeg" alt="">
      </div>

      <!-- cards for the dislayed -->

      <div class="center-image1">
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4 crousel">
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Citroen/C3-Aircross/11235/1696569309285/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">
                  <h2 class="text-gray-900 title-font text-lg font-medium">Citroen C3 Aircross</h2>
                  <p class="mt-1">Rs8.69 - 12.04 Lakh*</p>

                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon-EV-2023/11024/1694146347051/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Tata Nexon EV</h2>
                  <p class="mt-1">Rs14.74 - 19.94 Lakh*</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mahindra/Thar/10745/1697697308167/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Mahindra Thar</h2>
                  <p class="mt-1">Rs.10.98 - 16.94 Lakh*</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Harrier/9368/1697532960290/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Tata Harrier</h2>
                  <p class="mt-1">Rs.15.49 - 26.44 Lakh</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Punch/10681/1691392713058/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Tata Punch</h2>
                  <p class="mt-1">Rs.6 - 10.10 Lakh</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Altroz/10707/1690032362798/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Tata Altroz</h2>
                  <p class="mt-1">Rs.6.60 - 10.74 Lakh</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift/10406/1697698080681/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Maruti Swift</h2>
                  <p class="mt-1">Rs.5.99 - 9.03 Lakh</p>
                </div>
              </div>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                <a class="block relative h-48 rounded overflow-hidden">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Jeep/Compass/10938/Jeep-Compass-2.0-Sport/1698294314076/front-left-side-47.jpg?tr=w-456">
                </a>
                <div class="mt-4">

                  <h2 class="text-gray-900 title-font text-lg font-medium">Jeep Compass</h2>
                  <p class="mt-1">Rs.20.49 - 32.07 Lakh</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    </section>
    <%- include('../includes/footer.ejs') %> -->