<%- include('../includes/head.ejs') %>
  <%- include('../includes/navigation.ejs') %>

    <section id="section-2" data-aos="zoom-out-right">
      <h5 class="prod_h5">New Cars</h5>
      <p class="prod_p">Are you planning on buying a new car? Well, we know that with so many car options available out
        there, it gets
        really difficult to find a good car which suits your need. Hence, we have put together a complete list of new
        cars. Maruti Suzuki, Tata and Toyota are the 3 most popular car brands. These popular car brands cater to a wide
        spectrum of budgets and needs, offering a variety of cars from fuel-efficient hatchbacks to spacious SUVs. The 5
        most popular cars are <span class="colorChange">Suzuki Fronx, Mahindra Scorpio N, Hyundai Creta, Mahindra
          Scorpio</span> and <span class="colorChange">
          Exter</span>Hyundai. Explore the complete list of cars by exploring different brands or by applying multiple
        filters such as
        budget, fuel type, body type etc. You can find the car that suits you best from the list of cars below.</p>
    </section>

    <section id="firstOne">

      <section class="text-gray-600 body-font" data-aos="flip-down">

        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4 m--7 first-one-dis">
            <% for (let product of prods) { %>
              <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 prod-dis">
                <a class="block relative h-48 rounded overflow-hidden aligh">
                  <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                    src="/<%= product.imageUrl %>" />
                </a>
                <div class="mt-4 dis-p">
                  <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
                    Avg. Ex-Showroom price
                  </h3>
                  <h2 class="text-gray-900 title-font text-lg font-medium name">
                    <a href="/products/<%= product._id %>">
                      <%= product.title %>
                    </a>
                  </h2>
                  <p class="mt-1 dis-price">Rs <%= product.price %> Cr Estimated Price</p>
                </div>
                <div class="o-fzpimR"><a class="o-dsiSgT o-eNNlqh o-cpnuEd"
                    href="/maruti-suzuki-cars/fronx/?showOfferUpfront=true"><svg
                      class="o-dlrcWp o-eoatGj o-cqgkZn o-euTeMg o-bUlUGg o-emJYLF " viewBox="0 0 16 16"
                      fill="currentcolor" tabindex="-1" focusable="false" aria-hidden="true" role="img">
                      <path
                        d="M9.86 11.3A1.2 1.2 0 019 9.24 1.2 1.2 0 0110.33 9a1.21 1.21 0 01.7 1.34 1.2 1.2 0 01-1.17.96zM7 11.3h-.93l3.65-5.84h.92zM5.45 6.65a1.2 1.2 0 111.2 1.2 1.2 1.2 0 01-1.2-1.2zm9.26 1.16l-1.24-1.25a2 2 0 01-.58-1.41V3.47a.28.28 0 00-.28-.27h-1.67a2 2 0 01-1.41-.58L8.19 1.29a.27.27 0 00-.38 0L6.48 2.61a2 2 0 01-1.41.59H3.39a.28.28 0 00-.28.27v1.68a2 2 0 01-.58 1.41L1.29 7.81a.27.27 0 000 .38l1.24 1.25a2 2 0 01.58 1.41v1.84a.29.29 0 00.28.28h1.84a2 2 0 011.41.58l1.17 1.16a.27.27 0 00.38 0l1.17-1.16a2 2 0 011.41-.55h1.84a.3.3 0 00.28-.28v-1.87a2 2 0 01.58-1.41l1.24-1.25a.27.27 0 000-.38z">
                      </path>
                    </svg><span class="o-eQMann o-frVjwE o-brokHI o-byFsZJ o-fzoTtm o-fzoTpk">OFFERS</span><svg
                      class="o-dlrcWp o-eoatGj o-cqgkZn o-euTeMg o-eVvTDW o-erPNDN o-bCSbMQ o-etbLVz"
                      viewBox="0 0 16 16" fill="currentcolor" tabindex="-1" focusable="false" aria-hidden="true"
                      role="img">
                      <path
                        d="M4.59 15.8a1 1 0 01-.69-.29 1 1 0 010-1.37L10 8 3.9 1.86a1 1 0 010-1.37 1 1 0 011.38 0l6.82 6.82a1 1 0 010 1.38l-6.82 6.82a1 1 0 01-.69.29z">
                      </path>
                    </svg></a></div>
              </div>

              <% } %>
                <!-- <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/SF90-Stradale/7858/1591619661237/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Ferrari SF90 Stradale
            </h2>
            <p class="mt-1 dis-price">Rs.7.50 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Rolls-Royce/Ghost/8051/1601280317407/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Rolls-Royce Ghost
            </h2>
            <p class="mt-1 dis-price">Rs.6.95 - 7.95 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Bentley/Continental/7771/1676965640042/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Bentley Continental
            </h2>
            <p class="mt-1 dis-price">Rs.5.23 - 8.45 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Urus/10636/1690010693541/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Lamborghini Urus
            </h2>
            <p class="mt-1 dis-price">Rs.4.18 - 4.22 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Land-Rover/Range-Rover/9018/1676541159356/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Land Rover Range Rover
            </h2>
            <p class="mt-1 dis-price">Rs.2.39 - 4.17 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/XM/10570/1689672872537/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              BMW XM
            </h2>
            <p class="mt-1 dis-price">Rs.2.60 Cr Get On Road Price</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 prod-dis">
          <a class="block relative h-48 rounded overflow-hidden aligh">
            <img
              alt="ecommerce"
              class="object-cover object-center w-full h-full block"
              src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Land-Cruiser/8448/1623313668941/front-left-side-47.jpg?tr=w-456"
            />
          </a>
          <div class="mt-4 dis-p">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              Avg. Ex-Showroom price
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium name">
              Toyota Land Cruiser 300
            </h2>
            <p class="mt-1 dis-price">Rs.2.10 Cr Get On Road Price</p>
          </div>
        </div> -->

          </div>
          <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage:
            previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
        </div>



        <div class="brand-displayed" data-aos="flip-up">
          <div class="card p-brand" id="Brand">
            <div class="card-body">
              <h5 class="card-title" id="popular">Popular Brands</h5>
              <div>
                <div class="images logo-Brand1 icon-p">
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/mg.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/tata.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/kia.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/toyota.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/skoda.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/honda.jpg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="images logo-Brand1 icon-p">
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/renault.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/mahindra.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/volkswagen.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/bmw.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/citroen.jpg" alt="" />
                    </div>
                  </div>
                  <div class="card mb-3 c-5">
                    <div class="card-body">
                      <img src="https://stimg.cardekho.com/pwa/img/brandLogo_168x84/nissan.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <p id="viewmore"><a href="/">View More</a></p>
            </div>
          </div>
        </div>
      </section>

      <img src=" " alt="" id="webfow" class="wefo" />

      <main>
        <section class="text-gray-600 body-font" data-aos="zoom-out-down">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col">
              <div class="h-1 bg-gray-200 rounded overflow-hidden">
                <div class="w-24 h-full bg-indigo-500"></div>
              </div>
              <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12 m-123">
                <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">
                  Automatic Cars
                </h1>
                <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0 about">
                  Are you planning on buying a automatic car? Well, we know that
                  transmission is one of the most crucial things while buying a car
                  and with so many options available out there, it gets really
                  difficult to find a good car which suits your pocket. Hence, we
                  have put together a complete list of best automatic
                </p>
              </div>
            </div>
            <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 mers">
              <div class="p-4 md:w-1/3 sm:mb-0 mb-6 cart-2-t">
                <div class="rounded-lg h-64 overflow-hidden">
                  <img alt="content" class="object-cover object-center h-full w-full"
                    src="https://imgd.aeplcdn.com/664x374/n/cw/ec/163327/amg-c-43-exterior-right-front-three-quarter-2.jpeg?isig=0&q=80" />
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
                  Mercedes-Benz AMG C 43 Price
                </h2>
                <p class="text-base leading-relaxed mt-2">
                  The on-road price of Mercedes-Benz AMG C 43 base model is Rs.
                  98.00 Lakh which includes a registration cost of Rs. 1030000.2000
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-3 learn-m" href="/about">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
              <div class="p-4 md:w-1/3 sm:mb-0 mb-6 cart-2-t">
                <div class="rounded-lg h-64 overflow-hidden">
                  <img alt="content" class="object-cover object-center h-full w-full"
                    src="https://imgd.aeplcdn.com/664x374/n/cw/ec/54437/wrangler-exterior-right-front-three-quarter-52.jpeg?isig=0&q=80" />
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
                  Jeep Wrangler
                </h2>
                <p class="text-base leading-relaxed mt-2">
                  The Wrangler is an iconic brand and has a legion of committed fans
                  for all the good reasons. It's a high-riding off-roader with a lot
                  of character and everyday usability.
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-3 learn-m" href="/about">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
              <div class="p-4 md:w-1/3 sm:mb-0 mb-6 cart-2-t">
                <div class="rounded-lg h-64 overflow-hidden">
                  <img alt="content" class="object-cover object-center h-full w-full"
                    src="https://imgd.aeplcdn.com/664x374/n/cw/ec/44709/fortuner-exterior-right-front-three-quarter-20.jpeg?isig=0&q=80" />
                </div>
                <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
                  Toyota Fortuner
                </h2>
                <p class="text-base leading-relaxed mt-2">
                  Toyota Fortuner price for the base model starts at Rs. 33.43 Lakh
                  and the top model price goes upto Rs. 51.44 Lakh (Avg.
                  ex-showroom). Fortuner price for 7 variants is listed below.
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-3 learn-m" href="/about">Learn More
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <section id="firstOne">
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4 m--7">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/Purosangue/9317/1663156716477/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"> <a href="/products">Ferrari Purosangue</a>
                    </h2>
                    <p class="mt-1">Rs5 Cr Estimated Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>

                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Ferrari/SF90-Stradale/7858/1591619661237/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Ferrari SF90
                        Stradale</a>Ferrari SF90 Stradale</h2>
                    <p class="mt-1">Rs.7.50 Cr*Get On Road Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Rolls-Royce/Ghost/8051/1601280317407/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Rolls-Royce Ghost</a>
                    </h2>
                    <p class="mt-1">Rs.6.95 - 7.95 Cr*Get On Road Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Bentley/Continental/7771/1676965640042/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Bentley Continental</a>
                    </h2>
                    <p class="mt-1">Rs.5.23 - 8.45 Cr*Get On Road Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Lamborghini/Urus/10636/1690010693541/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Lamborghini Urus</a>
                    </h2>
                    <p class="mt-1">Rs.4.18 - 4.22 Cr*Get On Road Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Land-Rover/Range-Rover/9018/1676541159356/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Land Rover Range
                        Rover</a></h2>
                    <p class="mt-1">Rs.2.39 - 4.17 Cr*Get On Road Price</p>
                    <button class="btn-on"><a href="/products">Check January Offers</a></button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/BMW/XM/10570/1689672872537/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">BMW XM</a></h2>
                    <p class="mt-1">Rs.2.60 Cr Get On Road Price</p>
                    <button class="btn-on">Check January Offers</button>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full c-8 c-0 mp-4" data-aos="slide-down">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Toyota/Land-Cruiser/8448/1623313668941/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1 categories">CATEGORY</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium"><a href="/products">Toyota Land Cruiser
                        300</a></h2>
                    <p class="mt-1">Rs.2.10 Cr Get On Road Price</p>
                    <button class="btn-on">Check January Offers</button>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <section class="text-gray-600 body-font" data-aos="zoom-in-up">
          <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="flex flex-wrap -m-4">
              <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                  <div
                    class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">

                  </div>
                  <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Maruti Suzuki Dzire AMT :<span
                        class="colorChange"> Still
                        Worthy?</span> </h2>
                    <p class="leading-relaxed text-base">he Maruti Dzire ticks almost all the right boxes for it to be
                      your family’s next compact sedan and it’ll do so without emptying your pockets.So in this road
                      test, let’s take a look at some things that are still working for the compact sedan and a few
                      things that are in need of an update now.</p>
                    <a class="mt-3 text-indigo-500 inline-flex items-center" href="/about">Learn
                      More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
                  <div
                    class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">

                  </div>
                  <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                      Mahindra Thar vs Mahindra XUV300: <span class="colorChange"> What You Think Comparison</span>
                    </h2>
                    <p class="leading-relaxed text-base">The all-new Thar has been thoroughly impressive, both on and
                      off tarmac. However, so far, it has only been compared to its predecessor. We pitch it against
                      its urban sibling to see if it's any good for a family in the city.</p>
                    <a class="mt-3 text-indigo-500 inline-flex items-center" href="/about">Learn More
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="flex flex-wrap -m-4" style="    width: 99vw;
            justify-content: space-evenly;
           margin-bottom: 18px;
           margin-left: 0px;" data-aos="zoom-out-up">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/653ca720f195c.jpg" alt="content">
              <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Mercedes-Benz EQE 500: First Drive Review
              </h2>
              <p class="leading-relaxed text-base">Mercedes’ EQE blends luxury, tech and instant performance in one
                practical package
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652bb626b93cc.jpg" alt="content">
              <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tata Safari Facelift 2023 Review: Small
                Changes, Big Difference!</h2>
              <p class="leading-relaxed text-base">The Tata Safari is a well-known brand in the SUV market. </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652d165d43936.jpg" alt="content">
              <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">BRAND</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Hyundai Exter: Long-term Fleet
                Introduction</h2>
              <p class="leading-relaxed text-base">It has good looks, a city-friendly size, and a comfortable ride.
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6"
                src="https://stimg.cardekho.com/images/cms/carnewsimages/editorimages/652a2bda01e46.jpg" alt="content">
              <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">
                2023 Tata Harrier Review First Drive Review</h2>
              <p class="leading-relaxed text-base">Tata Harrier is a 5 seater SUV car in a price range of Rs. 15.49
                Lakh to 26.44 Lakh in India.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="middle">
          <img src="https://miro.medium.com/v2/resize:fit:820/1*JJj_0W6rlZEre4hsv2Abjg.jpeg" alt="">
        </div>

        <!-- cards for the dislayed -->

        <div class="center-image1" data-aos="fade-down-right">
          <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4 crousel">
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Citroen/C3-Aircross/11235/1696569309285/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">
                    <h2 class="text-gray-900 title-font text-lg font-medium">Citroen C3 Aircross</h2>
                    <p class="mt-1">Rs8.69 - 12.04 Lakh*</p>

                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Nexon-EV-2023/11024/1694146347051/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Tata Nexon EV</h2>
                    <p class="mt-1">Rs14.74 - 19.94 Lakh*</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mahindra/Thar/10745/1697697308167/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Mahindra Thar</h2>
                    <p class="mt-1">Rs.10.98 - 16.94 Lakh*</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Harrier/9368/1697532960290/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Tata Harrier</h2>
                    <p class="mt-1">Rs.15.49 - 26.44 Lakh</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Punch/10681/1691392713058/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Tata Punch</h2>
                    <p class="mt-1">Rs.6 - 10.10 Lakh</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Tata/Altroz/10707/1690032362798/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Tata Altroz</h2>
                    <p class="mt-1">Rs.6.60 - 10.74 Lakh</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Maruti/Swift/10406/1697698080681/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Maruti Swift</h2>
                    <p class="mt-1">Rs.5.99 - 9.03 Lakh</p>
                  </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full basic">
                  <a class="block relative h-48 rounded overflow-hidden">
                    <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                      src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Jeep/Compass/10938/Jeep-Compass-2.0-Sport/1698294314076/front-left-side-47.jpg?tr=w-456">
                  </a>
                  <div class="mt-4">

                    <h2 class="text-gray-900 title-font text-lg font-medium">Jeep Compass</h2>
                    <p class="mt-1">Rs.20.49 - 32.07 Lakh</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </section>

      <script>
        let image = document.getElementById('webfow');
        let images = ['/src/1.png', '/src/3.png', '/src/4.png',]

        setInterval(function() {
          let random = Math.floor(Math.random() * 4);
          image.src = images[random]
        }, 2000)
      </script>
    </section>
    <%- include('../includes/footer.ejs') %>